//Resets

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1{
  font-family: $serif;
}

h2, p, {
  font-family: $sans-serif;
}

p{
  font-size: 1rem;
}


//Headers & subheaders

.title{
  color: $darkblue_color;
  font-size: 1.5rem;
}

.title_inverse{
  color: $white_color;
  font-size: 1.5rem;
}

.subheading{
  color: $darkblue_color;
  font-size: 1.5rem;
  text-transform: uppercase;
}


.subheading2{
  color: $palepink_color;
  font-size: 1.2rem;
}

// Typography for main text

.body1 {
  color: $darkblue_color;
}

.body1_inverse {
  color: $white_color;
}

.body2{
  font-style: italic;
    &:hover{
      color: $darkblue_color;
      font-weight: 600;
    }
  }



//font family sans-serif

.page_title, .footer_title ,
.date, .autor, .content, .footer_text, 
.carousel_content .product_price,
.carousel_content, .latest_post_content{
  font-family: $sans_serif;

}

// font family serif

.main_title, .main_title_single_post, 
.product_title, .product_price, 
.carousel_title{
  font-family: $serif;

}

//font-size{
.date, .autor, .content, .footer_text, 
.carousel_content .product_price,
.carousel_content, .latest_post_content{
  font-size: 1rem; 

}

.page_title, .footer_title {
  font-size: 1.5rem;
  text-transform: uppercase;

}

.page_title {
  color: $darkblue_color;

}


.product_title, .product_price {
  font-size: 1.125rem;
  text-align: center;
  color: $darkblue_color;

  }
 

.date{
  color: $palepink_color;
  font-weight: 600;

}

.author{
  color: $darkblue_color;
  font-style: italic;
  font-weight: 500;
  margin-bottom: -2px; 
}

//Tablet view

@media (min-width: 992px) {

  .title, .title_inverse{
    font-size: 2rem;

  }
}