//font family sans-serif

.page_title, .footer_title ,
.date, .autor, .content, .footer_text, 
.carousel_content .product_price,
.carousel_content, .latest_post_content{
  font-family: $sans_serif;

}

// font family serif

.main_title, .main_title_single_post, 
.product_title, .product_price, 
.carousel_title{
  font-family: $serif;

}

//font-size{
.date, .autor, .content, .footer_text, 
.carousel_content .product_price,
.carousel_content, .latest_post_content{
  font-size: 1rem; 

}

.page_title, .footer_title {
  font-size: 1.2rem;
  text-transform: uppercase;

}

.page_title {
  color: $darkblue_color;

}

.main_title {
  font-size: 1.5rem;
  color: $white_color;

}
.main_title_single_post{
  font-size: 1.5rem;
  color: $darkblue_color;
 

}
.carousel_title {
  font-size: 2rem;
  color: $white_color;
  margin-left: 0;
  margin-left: 0;

}

.product_title, .product_price {
  font-size: 1.125rem;
  text-align: center;
  color: $darkblue_color;

  }
 

.date{
  color: $palepink_color;
  font-weight: 600;

}

.author{
  color: $darkblue_color;
  font-style: italic;
  font-weight: 500;
  margin-bottom: -2px; 

}

.content{
  //color: $darkblue_color;
  color: $darkblue_color;

}

.carousel_content, .latest_post_content, .footer_text{
  color: $white_color;

}

.footer_title{
  color: $palepink_color;
}

.footer_text{
  font-weight: 500;

}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
      
}