.page_title {
  font-size: 2rem;
  color: $darkblue_color;
  font-family: $sans-serif;

}
.smaller_title{
    font-size: 1.5rem;
    color: $darkblue_color;
    font-family: $serif;
    margin-left: 0;
    margin-left: 0;
  }
  
.date, .autor, .content, .footer_title, .footer_text{
    font-family: $sans_serif;
}
.date{
  color: $palepink_color;
  font-size:1rem; 
  font-weight: 500;
}

.author{
  color: $darkblue_color;
  font-style: italic;
  font-weight: 500;
  font-size:1rem;
  margin-bottom: -2px; 
}

.content{
  color: $darkblue_color;
  font-size: 1.125rem; 

}

.footer_title{
  color: $palepink_color;
  font-size: 1.125rem;
  font-weight: 500;
}

.footer_text{
  color: $white_color;
  font-size: 1rem;
  font-weight: 500;

}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
  .page_title{
    font-size: 3rem;
   
  }
      
}