.comment_button{
    margin-top: 2rem;
    background-color: $white_color;
    border: 2px solid black;
    color: $darkblue_color;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}