footer {
  background-color: $darkblue_color;
  padding-top: 2rem;
  padding-bottom: 2rem;  

  .footer_text_container{
    margin-bottom: 1rem;

    .footer_title{
      margin-bottom: 0.5rem;
    }

    .social_media_links{
      color: $white_color;
      margin: 5px;

      &:hover{
        color: $palepink_color;
      }
    }
  } 
  
}