.borders {
  border-radius: 0;
  border-color: $darkblue_color;
  -webkit-appearance: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: $darkblue_color;
  color: $darkblue_color;
}

.form-group {
   font-family: $sans-serif;
}

.cta_area {
  margin-top: 3rem;
  .btn {
    text-transform: uppercase;
    margin: 1.25rem 0 1.25rem 0;
  }
}

.invalid-feedback {
  font-family: $sans-serif;
}


// Commentform layout
.comment_form{
  padding: 3rem 1rem 3rem 1rem;
  margin-bottom: 0;

  .comment_field_title{
    padding: 0.5rem 0 0.5rem 0;
  }

  .text-area{
      height: 100px;
      margin-bottom: 1rem;
  } 
}

