//This styles are specific styles for home.php
.general_wrapper{

  @include pink_background_gradient;

    .text_wrapper{
      @include wrapper;

      .latest_post_image{
        @include image_box_shadow;
        margin-bottom: $dividing_margin;
      }
    }
  }
  
  // Page title tnderline
  .underline{
    @include thin_line;
  }

  //Single post 
  
  .latest_post_content{

    .latest_post_text{
      padding-bottom: $dividing_margin;
      padding-top: $dividing_margin;
      background-color: $darkblue_color;

       .latest_blogpost_title{
         margin-bottom: 1rem;
       }

      
      .read_more_button{
        margin-top: 1rem;
      }
    }
  }
  

  .blog_section {
    margin-top: $dividing_margin;
  }

  .blog_title{
    padding-top: $dividing_margin;
  }

  .blog_post{
    margin-bottom: 2rem;

    .blog_header{
      margin: 1rem;
    }
  }



  // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

      .latest_post_image {
        margin-bottom: 0;

      }

      .latest_post_text{
        padding: 0;

        .latest_blogpost_title, .latest_post_content, .read_more_button  {
          padding-left: 3rem;
          padding-right: 3rem;
        }
  
        .latest_blogpost_title {
          padding-top: 4rem;
        }

      } 
      //Overlay effect on post images
  
  .container{
    padding: 0;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $darkblue_color;
 
 
  .container:hover & {
    opacity: 0.9;
  }
 }

  // Text for overlay effect 
   .text_overlay {
    font-size: 1.2rem;
    text-align: center;
    font-family: $serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .text_link {
    outline: none; 
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
    } 

