.index-wrapper{
    background-color: $palepink_color;
    
    .index_container{
        background-color: $palepink_color;
        
        
    }
}

.index_logo{
    height: 4rem;
    justify-content: center;
}