.index_top_cube {
  background-color: $white_color;
  height: 40px;
}

/* Everything that is contained inside the same element as the background-img is
nested for clarity. Represents the same way the html is nested */
.small_screen_background_image {
  height: 800px;
  background-image: 
    linear-gradient(
      transparent 70%,
      $palepink_color
    ),
    linear-gradient(
      $white_color 15%,
      transparent 35%    
    ),
    url(../images/Eske_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10%;
  z-index: -100;

  .small_screen_logo_image {
    max-width: 10rem;
    display: block;
    @include sides_auto_margin;
    padding-top: 1.7rem;
  }

  .flex_bottom_container {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: flex-end;
  
    .small_screen_button_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }     
  }
}

// /* This element is located underneath the actual background-img and has it's
// own elements nested in it. */
.small_screen_cube_color {
  height: 300px;
  width: 100%;
  background-color: $palepink_color;
  padding: 40px 0 40px 0;
  
  .hero {
    max-width: 300px;
    margin-bottom: 2rem;
    @include sides_auto_margin;                       
  }

  .hr_imitation {
    height: 5px;
    width: 20%;
    background-color: black;
    @include sides_auto_margin;
    margin-bottom: 50px;
  }  
}

//Desktop styling
.desktop_background_gradient {
  background-image: linear-gradient(to bottom right, $palepink_color, $white_color);

  .desktop_container {
    height: 100vh;
    
    .big_screen_image {
      align-items: center;

      img {
        max-height: 85vh;
        @include image_box_shadow;
      }
    }

    .big_screen_logo_btn_container {
      align-items: center;

      .big_screen_logo {
        padding-bottom: 8px;
        border-bottom: 6px solid $darkblue_color;
      }

      .big_screen_button_container {
        padding: 15px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}