/*Background image*/
div {
    border: solid 1px red;
}
.header_container {
  background-color: black;
  height: 80px;
}

.background_image {
  height: 800px;
  background-image: url(../../images/Eske_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10%;
  z-index: -100;
}

.logo_container {

  .logo-image {
    max-width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.7rem;
  }
}

.flex_bottom_container {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: flex-end;
}

.index_button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// .index_container{
//     background-color: $palepink_color;
// }