//Single post container
.single_post{

  @include pink_background_gradient;

    .single_post_wrapper{
      
      @include wrapper;
    }

    .single_post_content{
        
      margin-top: $dividing_margin;
    }

    .create_post_info{
      margin-top: 1rem;
    }
}

.divider_bar{
  margin: 0;
  padding: 0;

  .divider{
    @include text_divider
  }
}


.comment_container{
  background-color: $white_color;
  padding-bottom: $dividing_margin;

  .comment_info{
    margin-bottom:1rem;
  }

  .comment_content{
    margin-bottom:1rem;
  }
}

.divider_bar{
  margin: 0;
  padding: 0;

  .divider{
    @include text_divider
  }
}


.edit_button, .delete_button{
  margin: 1rem 1rem 1rem 1rem;
}

.product_gallery{

  margin-top: $dividing_margin;
  margin-bottom: $dividing_margin;
}

