@mixin sides_auto_margin {
  margin-left: auto;
  margin-right: auto;
}

@mixin image_box_shadow {
  box-shadow: 17px 25px $darkblue_color;
}

@mixin pink_background_gradient {
  background: linear-gradient(to left, $palepink_color, 5%, white);
}

@mixin text_divider{
  height: 70px;
  background-color: $darkblue_color;
}