//colors
$enable-gradients: true;

$white_color: #F0F0F0;
$darkblue_color: #1C3045;
$palegreen_color: #A6C9C6;
$brightpink_color: #FAC8CD;
$palepink_color: #D7BCC8;
$paleblue_color: #95B8D1;
$black_color: #252525;
$purple_color: #60495A;

//fonts

$sans_serif:'Open Sans', sans-serif;
$serif:'Merriweather', serif;


//margins

$dividing_margin: 2rem;

//break-points

$mobile: 576px;
$tablet: 768px;
$desktop-small: 992px;
$desktop-large: 1200px;

