//colors
$enable-gradients: true;

$white_color: #F0F0F0;
$darkblue_color: #1C3045;
$palegreen_color: #A6C9C6;
$brightpink_color: #FAC8CD;
$palepink_color: #D7BCC8;
$paleblue_color: #95B8D1;
$blacl_color: #252525;
$purple_color: #60495A;

//bootstrap themes

$brand-primary: $darkblue_color;
$brand-danger: $palepink_color;
$brand-inverse: $white_color;